* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1 {
    display: grid;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
}

a {
    text-decoration: none;
}

p {
    display: grid;
    justify-content: center;
    color: #ffd700;
    font-size: 20px;
    padding: 10px;
}

header {
    position: relative;
    font-size: 20px;
}

.logo {
    width: 100%;
    height: 160px;
    display: grid;
    align-content: center;
    align-items: center;
    background-color: #000000;
    opacity: 75%;
}

.logo svg {
    width: 320px;
    height: 160px;
    fill-opacity: 0;
    transition: all 0.4s ease-out;
    fill: #ffd700;
}

.nav-bar {
    width: 100%;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #ffd700;
    z-index: 1;
}

.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
}

.nav-bar li {
    width: 160px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Rancho', cursive;
    font-size: 1em;
    color: #000000;
    cursor: pointer;
}

.abs-pos {
    position: absolute;
    top: 160px;
    right: 0;
}

.fix-pos {
    position: fixed;
    top: 0;
    right: 0;
}

.ghost {
    width: 100%;
    height: 40px;
    background-color: #000000;
    opacity: 75%;
}

main {
    font-size: 20px;
}

main section {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Rancho', cursive;
    font-size: 2em;
    color: #ffffff;
}

main section:nth-child(odd) {
    height: 100vh;
    background-color: #000000;
    opacity: 90%;
}

main section:nth-child(even) {
    height: 100vh;
    background-color: #000000;
    opacity: 80%;
}

/*Formata footer
 rodape**************************************************************************/

footer#rodape {
    padding: 10px;
    background-color: #000000;
    opacity: 75%;
}

/*Formata footer
 rodape contendo p**************************************************************************/

footer#rodape p, footer#rodape a {
    color: #ffd700;
    text-align: center;
    text-decoration: none;
}

footer#rodape a:hover {
    text-decoration: underline;
}