# -------------------------
# Ableton (se for mesmo necessário)
# -------------------------
/Ableton!

# -------------------------
# PlatformIO / ESP32
# -------------------------
.pio/
.pioenvs/
.piolibdeps/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.elf
*.bin
*.hex
*.log
*.tmp

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Arduino IDE
# -------------------------
*.ino.cpp
*.ino.bin
*.ino.elf
*.ino.hex
*.ino.with_bootloader.bin
*.with_bootloader.bin
*.with_bootloader.hex

arduino_build*/
arduino_cache*/

# Bibliotecas instaladas localmente (Arduino IDE)
libraries/

# -------------------------
# IntelliJ IDEA
# -------------------------
.idea/
*.iml
out/

# -------------------------
# Sistema Operativo
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python virtual env
# -------------------------
venv/
.env/
